.game {
  width: 600px;
  height: 200px;
  border-bottom: 10px solid #000;
  margin: auto;
}
#dino {
  height: 50px;
  width: 113px;
  background-image: url(img/dinosaur.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 150px;
}
#cactus {
  width: 60px;
  height: 60px;
  background-image: url(img/cactus.png);
  background-size: contain;
  position: relative;
  top: 100px;
  left: 550px;
  animation: cactusMove 2s infinite linear;
}
@keyframes cactusMove {
  0% {
    left: 550px;
  }
  100% {
    left: -10px;
  }
}
.jump {
  animation: jump 1s linear;
}
@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}